<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center text-secondary">MEAN</h1>
    <div class="row center">
      <h5 class="header col s12 light">Ejercicio de <span class="text-primary">Micro Servicios</span> hecho con el stack
        MEAN</h5>
    </div>
    <div class="row center">
      <a href="#modal1" class="btn-large waves-effect waves-darken-2 bg-secondary pulse modal-trigger">Ejercicio</a>
    </div>
    <br><br>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4><span class="text-primary">Ejercicio</span></h4>
    <ol>
      <li class="text-edit">Realizar las tres versiones de backend</li>
        <ul>
          <li><b>versiones:</b></li>
        </ul>
        <ol>
          <li>Un servidor express, una base de datos, dos documentos</li>
          <li>Dos servidores express, dos bases de datos, un documento para cada base de datos</li>
        </ol>
      <li class="text-edit">Realizar frontend con angular</li>
      <li>Realizar estilos dinamicos con handlebars</li>
      <li>Aprender GIT, GITBASH y GITLAB</li>
    </ol>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
  </div>
</div>

<div class="container">

  <div class="section">
    <div class="row">
      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center text-primary"><i class="material-icons">person</i></h2>
          <h5 class="center">Autores</h5>

          <p class="light">El autor es la persona que crea una obra, sea artística, literaria o científica. El autor no
            solo crea, también, puede cambiar alguna obra.</p>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center text-primary"><i class="material-icons">collections</i></h2>
          <h5 class="center">Obras</h5>

          <p class="light">La "obra" de un autor es tanto cada uno de sus trabajos como el conjunto de todos ellos. A
            veces se utiliza con cualquiera de estos significados directamente en francés (œuvre) o en latín (opus).</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>