<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="header center capitalize text-secondary">{{titulo}}</h1>
        <div class="center nav-content">
            <a class="btn-flat text-secondary" title="Listado de registros" routerLink="/{{titulo}}" routerLinkActive="active">Registrados</a>
            <a class="btn-flat text-secondary" title="Registrar nuevo" routerLink='/{{titulo}}/crear' routerLinkActive="active">Añadir</a>
        </div>
        <br><br>
    </div>
</div>